.credit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    // border: 1px solid red;
    p{
        color: #6e6a68;
        span{
            font-weight: bold;
            color: black;
        }
    }
}