@use '../../scss/' as *;

.hero-slide{
    // border: 1px solid red;
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
    // background: black;

    img{
        width: 100%;
        height: 100vh;
        // box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

        opacity: 0.3;
    }

}
.hero{
    // position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    // border: 1px solid red;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .hero{
        height: 100vh;
    }
}

